<template>
<h1>Opgave 2</h1>
<button @click="start" :disabled="isPlaying">Play</button>
<Block v-if="isPlaying" :delay="delay" @end="endGame"/>
<Results v-if="showResults" :score="score" />
<!-- <p v-if="showResults">Reaction time: {{score}} ms</p> -->
</template>

<script>
import Block from './components/Block.vue'
import Results from './components/Results.vue'
export default {
  name: 'App',
  components: { Block, Results },
  data(){
    return{
      isPlaying: false,
      delay: null,
      score: null,
      showResults: false
    }
  },
  methods:{
    start(){
      this.delay = 2000 + Math.random() * 5000,
      this.isPlaying = true,
      this.showResults = false
    },
    endGame(reactionTime){
      this.score = reactionTime,
      this.isPlaying = false, 
      this.showResults = true
    }
  }
}
</script>

<style>
#app {
  color: #444;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin-top: 60px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  background: #0faf87;
  border: none;
  border-radius: 4px;
  color: wihte;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  margin: 10px;
  padding: 8px 16px;
}

button[disabled]{
  cursor: not-allowed;
  opacity: 0.2;
}

</style>