<template>
  <h1>Reaction Timer</h1>
  <button @click="start" :disabled="isPlaying"> Play </button>
  <ClickBox v-if="isPlaying" :delay="delay" @end="endGame"/> 
  <Results v-if="showResults" :score="score"/>
</template>

<script>
import Results from './components/Results.vue'
import ClickBox from './components/ClickBox.vue'

export default {
  name: 'App',
  components: { ClickBox, Results },
  data(){
      return{
        isPlaying: false, 
        delay: null,
        score: null,
        showResults: false
      }
    },
    methods:{
      start(){
        this.delay = 2000 + Math.random() * 5000
        this.isPlaying = true
        this.showResults = false
      },
      endGame(reactionTime){
        this.score = reactionTime
        this.isPlaying = false
        this.showResults = true 
      }
    }

 
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #444;
  margin-top: 60px;
  
}
</style>
