<template>
    <div class="backdrop">
        <div class="modal">
            <h1>Opgave</h1>
            <p>1.3</p>
        </div>
    </div>
</template>


<style scoped>
    .backdrop{
        background: rgba(0,0,0,0.5);
        height: 100%;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .modal{
        background: white;
        border-radius: 10px;
        margin: 100px auto;
        padding: 20px;
        width: 400px;
    }

    .modal h1{
        border: none;
        color: #03cfba;
        padding: 0;
    }

    .modal p{
        font-style: normal;
    }
</style>