* {
  padding: 0;
  margin: 0;
}

/* header block  */
.header {
  background-color: rgba(243, 208, 8, 0.993);
}
.header .header__title {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* section block */
.section {
  padding: 15px 30px;
}

.section--black {
  background-color: #000;
  color: white;
}

.section__desc {
  margin: 10px 0 20px;
  font-size: 14px;
}

.section--white {
  background-color: #ffffff;
}

.link__page a {
  padding: 10px 10px;
  background-color: rgba(243, 208, 8, 0.993);
  font-weight: 700;
  text-decoration: none;
  color: black;
}

h3 {
  margin-bottom: 20px;
}

/* block */
.btn {
  border: none;
  margin-right: 10px;
  /* btn modifier */
}
.btn .btn__secondary {
  padding: 10px 10px;
  background-color: #000;
  color: white;
}
.btn .btn__primary {
  padding: 10px 10px;
  background-color: rgba(243, 208, 8, 0.993);
  font-weight: 700;
}

/*# sourceMappingURL=bem.css.map */
