*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 1024px; 
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
 /* header block  */
 .header{
    background-color: yellow;
 }
 /* header elem */
 .header__title{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
/* section block */
.section{
    padding: 15px 30px;
}
.section--black{
    background-color: black; 
    color: white; 
}
.section--white{
    background-color: white; 
}
/* element */
/* .section__title{
    margin: 10px 0 20px;
} */
.section__desc{
    margin: 10px 0 20px;
    font-size: 14px;
}
/* block */
.btn{
    border: none;
    margin-right: 10px;
}
.btn__primary{
    padding: 10px 10px;
    background-color: yellow;   
    font-weight: 700;
}
.link__page a{
    padding: 10px 10px;
    background-color: yellow;   
    font-weight: 700;
    text-decoration: none;
    color: black;
}
/* modifier */
.btn__secondary{
    padding: 10px 10px;
    background-color: black;
    color: white;
}
h3{
    margin-bottom: 20px;
}
