<template>
  <h1>{{ title }}</h1>
<div v-if="showModal">
    <Modal theme='sale' @close="toggleModal">
      <h1> Hahah, that was fun </h1>
      <p> Do it again </p>

      <template v-slot:links> 
        <a href="#">you could this this fun stuff out</a>
        <a href="#">Or this</a>
      </template>
    </Modal>
</div>

<div v-if="showModal2">
    <Modal @close="toggleModal2">
      <h1> Hahah, that was more fun </h1>
      <p> Do it again, for fun </p>

      <template v-slot:links> 
        <a href="#">you could check this fun stuff out</a>
        <a href="#">Or this</a>
      </template>
    </Modal>
</div>
<button @click="toggleModal">Click me</button>
<button @click="toggleModal2">Click me2</button>
</template>

<script>

import Modal from './components/Modal.vue'

export default {
  name: 'App',
  components: {Modal},
  data(){
    return{
      title: 'My First Vue App :D',
      showModal: false,
      showModal2: false 
    }
  },
  methods:{
    toggleModal(){
      this.showModal =!this.showModal
    },
    toggleModal2(){
      this.showModal2 =!this.showModal2
    }
  }
 
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1{
  color: rgb(161, 39, 155);
}
</style>
