<template>
    <div class="backdrop " @click.self="closeModal">
       <div class="modal" :class="{sale: theme === 'sale'}">
           <h1> {{ header }}</h1>
        <p> {{text}} </p>
        </div> 
    </div>
</template>

<script>
export default{
    props: ['header', 'text', 'theme'],
    methods: {
        closeModal(){
          this.$emit('close')  
        }
    }
}
</script>


<style>

.modal{
width: 400px;
padding: 20px;
margin: 100px auto;
border-radius: 10px;
background: white;
}
.backdrop{
    top: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.modal.sale {
    background: blue;

}

.modal h1 {
    color: white;
}
</style>