/* :root{
  --UCL-dark-blue: #00454e;
  --UCL-light-blue: #e4f1f0;
  --UCL-pink: #f1c9c0;
  --UCL-purple: #9b3c7d;
  --UCL-yellow: #fbe355;
} */

*{
  margin: 0;
  padding: 0;
}

body{
  /* background: var(--UCL-light-blue); */
  height: 100vh;
}

/* h1, h2, h3, h4, h5, h6{
    color: var(--UCL-dark-blue);
} */

/* OPGAVE 3 */
.site__header{
  align-items: center;
  background: yellow;
  display: flex;
  justify-content: center;
  height: 20%;
}

.card{
  box-sizing: border-box;
  height: 40%;
  padding: 50px;
}

.card--theme-dark{
  background: black;
  color: white;
}

.card--theme-light{
  background: white;
  color: black;
}

.card__title{
  margin-bottom: 20px;
}

.card__text{
  margin-bottom: 30px;
}

.card__button{
  margin-right: 25px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
}

.button--yellow{
  background: yellow;
  color: black;
}

.button--dark{
  background: black;
  color: white;
}
