//Block 
.button{
    padding: 15px 25px;
    margin-bottom: 60px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    width: 80px;
   
}

//Element

//MOD

.button--yellow{
    background-color: $yellow-color;
    color: black;

}


.button--dark{
    background-color: black;
    color: white;

}