//Block 

.site-header{
    font-size: 1.7em;

}

//Element

.site-header__title{
   
    text-align: center;
    padding: 50px 0px;
}

//MOD
.site-header--theme-yellow{
    background-color: $yellow-color;
  
}
