<template>
  <!-- <h1>{{title}}</h1> -->
  <h1>Opgave 1.3 & 1.4</h1>
  <br>
  <!-- <input type="text" ref="name">
  <button @click="handleClick">Click me</button> -->
  <!-- <OpgaveEnTre /> -->
  <teleport to=".modals" v-if="showModal">
    <!-- <OpgaveEnFire :header="header" :text="text" theme="sale" @close="toggleModal"/> -->
    <!-- <OpgaveEnFire theme="sale" @close="toggleModal"> -->
      <OpgaveEnFire @close="toggleModal">
      <template v-slot:links>
        <a href="#">1.1</a>
        <a href="#">1.2</a>
        <a href="#">1.3</a>
        <a href="#">1.4</a>
      </template>
      <h1>Opgave</h1>
      <p>1.4</p>
    </OpgaveEnFire>
  </teleport>

<!-- ModalTwo -->
  <teleport to=".modals" v-if="showModalTwo">
      <OpgaveEnFire @close="toggleModalTwo">
      <template v-slot:links>
        <a href="#">1.1</a>
        <a href="#">1.2</a>
        <a href="#">1.3</a>
        <a href="#">1.4</a>
      </template>
      <h1>Opgave</h1>
      <p>1.4</p>
      <p>Modal Two</p>
    </OpgaveEnFire>
  </teleport>

  <button @click.alt="toggleModal">Open modal (alt)</button>
  <button @click ="toggleModalTwo">Open modal 2</button>
</template>

<script>
// import OpgaveEnTre from './components/OpgaveEnTre.vue'
import OpgaveEnFire from './components/OpgaveEnFire.vue'

export default {
  name: 'App',
  // components:{OpgaveEnTre},
  components:{OpgaveEnFire},
  data(){
    return{
      // title: 'My first Vue app',
      // header: "Opgave",
      text: "1.4",
      showModal: false,
      showModalTwo: false
    }
  },
  methods: {
      toggleModal(){
        this.showModal = !this.showModal
      },
      toggleModalTwo(){
        this.showModalTwo = !this.showModalTwo 
      }
    }
  // methods:{
  //   handleClick(){
  //     console.log(this.$refs.name)
  //     this.$refs.name.classList.add('active')
  //     this.$refs.name.focus()
  //   }
  // }
}
</script>

<style>
#app, .modals{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1{
  border-bottom: 1px solid #ddd;
  display: inline-block;
  padding-bottom: 10px;
}
</style>
