<template>
    <p>Reaction time - {{score}} ms</p>
    <p class="rank">Rank - {{rank}}</p>
</template>

<script>
export default {
    props:["score"],
    data(){
        return{
            rank: null
        }
    },
    mounted(){
        if (this.score < 250){
            this.rank = 'Ninja fingers'
        } else if (this. score > 400 ){
            this.rank = 'Rapid reflexes'
        } else{
            this.rank = 'Snail pace'
        }
    }
}
</script>

<style>
    .rank{
        color: #0faf87;
        font-size: 1.4 em;
        font-weight: bold;
    }
</style>