<template>
  <section
    :class="childclass" 
    class="the-hero-storepage"
  >
    <BasePicture
      img-class="hero-store-picture"
      img-src="se-store"
      alt-txt="spectrum emission store page"
    >
      <div
        class="text-wrapper"
      >
        <div 
          class="slogan"
        >
          <p>Get infected </p>
          <p>Spread joy </p>
          <p>Listen to </p>
          <p>Sprectrum Emission</p>
        </div>
        <BaseH1
          text="Spectrum " 
          heading1="Emission Store" 
        />
      </div>
    </BasePicture>
  </section>
</template>

<script>
import BaseH1 from "@/components/base/BaseH1.vue";
import BasePicture from "@/components/base/BasePicture.vue";
export default {
  components: { BaseH1, BasePicture },
  props: {
    childclass: {
      type: String,
      required: true,
    },
  },
};
</script>

<style scoped>
.the-hero-frontpage {
  margin-top: 100px;
}
</style>
