<template>
  <div id="app">
  

    {{ arr.message }}

  
  </div>
</template>
<script>
export default {
  name: "App",
  data() {
    return {
      data: {}, 
      arr: {}
    }
  },
  beforeMount(){
    this.getName();
  },
  methods: {
    async getName(){
      const res = await fetch('https://graph.facebook.com/104885975492033/feed?access_token=EAAGxsOwf6DYBALJjKouZC0ofpzhgJrzFFzlTRohsU4DGlWa568JIJlwAu64uwYsHQowR2468BwdYHZBuAkAOajqk1sVaZAJKjcE1wanjwhgm9ZApf9ncVEk1Wlm06lpacwY65OilC2PDi6PLt5Q3PZADxLvah09vztZA6bH3UxgadiMOYSFUcZArCZA2EgSrmJbVcOSgAGbiRgZDZD');
      const data = await res.json();
      this.data = data;
 
      this.arr = data.data[0];

     
      
      console.log(data)


 /*      
    
 for (var i = 0; i < arr.length; i++){
   document.write("<br><br>array index: " + i);
   var obj = arr[i];
   for (var key in obj){
    var value = obj[key];
     document.write("<br> - " + key + ": " + value);
      }
    }

       for(var i=0;i<1;i++){
   
         
         if (data != null  ) {
           const msg = data[i].message
           console.log(msg)
           return msg
         }
       } */

    }
  }
};
</script>