$dark: black
$light: white
$yellow: yellow

*
  margin: 0
  padding: 0

body
  height: 100vh



/* OPGAVE 3 */
.site__header
  align-items: center
  background: $yellow
  display: flex
  justify-content: center
  height: 20%
}

.card
  box-sizing: border-box
  height: 40%
  padding: 50px

.card--theme-dark
  background: $dark
  color: $light

.card--theme-light
  background: $light
  color: $dark

.card__title
  margin-bottom: 20px

.card__text
  margin-bottom: 30px

.card__button
  margin-right: 25px
  padding: 15px 25px
  text-align: center
  text-decoration: none

.button--yellow
  background: $yellow
  color: $dark

.button--dark
  background: $dark
  color: $light
