<!DOCTYPE html>
<html lang="da-DK" dir="ltr">
  <head>
    <link rel="stylesheet" href="assets/style.css">
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Opgave2.3</title>
  </head>
  <body>
    <h1>Opgave 2.3</h1>

    <div id="app">
      <!-- <a :href="url">UCL.dk</a> // <a v-bind:href="url">UCL.dk</a> -->
      <div v-if="showBooks" >
        <ul>
          <li v-for="book in filteredBooks" :class="{fav:book.isFav}" @click="toggleFav(book)"> <!-- 'book' er et vilkårligt navn -->
            <h2>{{book.title}}</h2> <!-- '... .' skal være det samme som det vilkårlige navn -->
            <img :src="book.img" :alt="book.title">
            <h3>{{book.author}}</h3> <!-- '... .' skal være det samme som det vilkårlige navn -->
            <h4>{{book.year}}</h4> <!-- '... .' skal være det samme som det vilkårlige navn -->
            <h5>{{book.publisher}}</h5>
          </li>
        </ul>
        <!-- <p>{{books[0].title}} • {{books[0].author}} • {{books[0].year}}</p>
        <p>{{books[1].title}} • {{books[1].author}} • {{books[1].year}}</p>
        <p>{{books[2].title}} • {{books[2].author}} • {{books[2].year}}</p>
        <p>{{books[3].title}} • {{books[3].author}} • {{books[3].year}}</p>
        <p>{{books[4].title}} • {{books[4].author}} • {{books[4].year}}</p>
        <p>{{books[5].title}} • {{books[5].author}} • {{books[5].year}}</p>
        <p>{{books[6].title}} • {{books[6].author}} • {{books[6].year}}</p> -->
      </div>

      <button @click="toggleShowBook">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span>
      </button>

      <br>

      <!-- mouse event(s)
      <div class="box" @mouseover="handleEvent($event, 5)">Mouseover (enter)</div>
      <div class="box" @mouseleave="handleEvent">Mouseleave</div>
      <div class="box" @dblclick="handleEvent">Double click</div>
      <div class="box" @mousemove="handleMousemove">Position - {{x}} {{y}}</div>
      -->
    </div>

    <script src="assets/app.js"></script>
  </body>
</html>
