<!DOCTYPE html>
<html lang="da-DK" dir="ltr">
  <head>
    <link rel="stylesheet" href="assets/style.css">
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue@3"></script>
    <title>Opgave 2.2</title>
  </head>
  <body>
    <h1>Opgave 2.2</h1>

    <div id="app">
      <div v-if="showBooks" >
        <p>{{title}} - {{author}} - {{year}}</p>
      </div>

      <button @click="toggleShowBook">
        <span v-if="showBooks">Hide Books</span>
        <span v-else>Show Books</span> <!-- // <span v-if="!showBooks"> Show Books</span> // <span v-if="showBooks == false"> Show Books</span> -->
      </button>
      <div v-show="showBooks">Currently showing books</div>
    </div>

    <script src="assets/app.js"></script>
  </body>
</html>

<!--
<button v-on:click="year++">Increase year</button>
<button v-on:click="year--">Decrease year</button>
<div @click="changeTitle('Harry Potter and the Prisonor from Azkaban')">Change Title</div>
-->
