<template>
  <form @submit.prevent="handleSubmit" >
      <label> Email: </label>
      <input type="email" required v-model="email">

      <label> Password: </label>
      <input type="password" required v-model="password">
        <div class="error" v-if="passwordError">{{passwordError}}</div>


      <label>Role:</label>
      <select v-model="role" >
          <option value="developer">Web developer</option>
          <option value="desginer">Designer</option>
      </select>

      <label>Skills:</label>
      <input type="text" v-model="tempSkill" @keyup="addSkill">

      <div v-for="skill in skills" :key="skill" class="pill">
          <span @click="deleteSkill(skill)">{{skill}}</span>
      </div>

      <div class="terms">
          <input type="checkbox" v-model="terms" required>
          <label>
              Accept terms and conditions 
          </label>
      </div>
    <!--
      <div>
          <input type="checkbox" value="hans" v-model="names">
          <label>Hans</label>
     </div>
     <div>
          <input type="checkbox" value="Henning" v-model="names">
          <label>Henning</label>
     </div>
     <div>
          <input type="checkbox" value="HelseJohn" v-model="names">
          <label>HelseJohn</label>
     </div>
     <div>
          <input type="checkbox" value="Ola" v-model="names">
          <label>Ola</label>
     </div>

     -->
  
  <div class="submit">
      <button> Create Account</button>
  </div>
  </form>
   
   <p> Email: {{email}}</p>
   <p> Password: {{password}}</p>
   <p>Role: {{role}}</p>
   <p>Agreed to terms: {{terms}}</p>
  <!-- <p>Names: {{names}}</p> -->

</template>

<script>
export default {
    data(){
        return{
            email: '', 
            password: '', 
            role: 'desginer', 
            terms: false, 
            //names: []
            tempSkill: '', 
            skills:[], 
            passwordError: ''
        }
    },
    methods:{
       addSkill(e) {
           if (e.key ==="Enter" || e.key ==="," && this.tempSkill){
              if(!this.skills.includes(this.tempSkill)){
                  this.skills.push(this.tempSkill) 
              }
              
              
              this.tempSkill = ""
           }
       },
       deleteSkill(skill){
          this.skills = this.skills.filter((item) => {
             return skill != item 
          }) 
       }, 
       handleSubmit(){
           // validate password
           this.passwordError = this.password.length > 5 ?
            '' : 'Password must be over 5 chars long'

            if(!this.passwordError){
              console.log('email:', this.email),  
              console.log('password:', this.password),  
              console.log('role:', this.role),  
              console.log('skills:', this.skills),  
              console.log('terms accepted: ', this.terms)  
            }
       }
    } 
}
</script>

<style>
form {
    max-width: 420px; 
    margin: 30px auto; 
    background: white;
    text-align: left;
    padding: 40px;
    border-radius:10px;
}
label{
    color: #aaa;
    display: inline-block;
    margin: 25px 0 15px;
    font-size: 0.6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
input, select{
    display: block;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #555; 
}
input[type="checkbox"] {
    display: inline-block;
    width: 16px;
    margin: 0 10px 00;
    position: relative;
    top: 2px;
}

.pill{
    display: inline-block;
    margin: 20px 10px 0 0;
    padding: 6px 12px;
    background: rebeccapurple;
    border-radius:20px ;
    font-size: 12px;
    letter-spacing: 1 px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

button {
    background: rebeccapurple;
    border: 0;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
}

.submit{
    text-align: center;
}
.error{
    color: crimson;
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
}

</style>