<template>
  <div>
    <a
      class="base-email-link" 
      :href="emailadress"
    >
      {{ linktext }}
    </a>
  </div>
</template>

<script>
export default {
  props: {
    linktext: {
      type: String,
      required: true,
    },
    emailadress:{
      type: String,
      required: true 
    }
  },
};
</script>

<style>
</style>