<template>
  <div
    v-for="concert in concerts" 
    :key="concert.id" 
    class="upcoming-concert"
  >
    <div 
      class="concert-date-venue"
    >
      <p class="concert-date">
        {{ concert.attributes.date }}
      </p>
      <p class="concert-venue">
        {{ concert.attributes.venue }}
      </p>
    </div>
    <p class="concert-citycountry">
      {{ concert.attributes.address.city }},
      {{ concert.attributes.address.country }}
    </p>
    <BaseButton> Ticket</BaseButton>
  </div>
</template>

<script>
import BaseButton from "@/components/base/BaseButton.vue";
import axios from "axios";
export default {
  name: "BaseConcert",
  components: { BaseButton },
  data() {
    return {
      concerts: [],
      error: null,
    };
  },
  async mounted() {
    try {
      const response = await axios.get(
        "https://still-scrubland-97284.herokuapp.com/api/concerts?populate=%2A&sort[]=date%3Aasc"
      );
      this.concerts = response.data.data;
    } catch (error) {
      this.error = error;
    }
  },
};
</script>

<style></style>
