<template>
  <div class="base-breadcrumbs">
    <router-link 
      class="link" 
      :to="{ path: '/Store' }"
    > 
      Store > 
    </router-link>
    <!-- <button @click="goBack">{{ this.$route.name }}</button> -->
    <router-link 
      class="link" 
      :to="{ path: '#' }"
    >
      {{ product.title }}
    </router-link>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      product: {},
      error: null,
    };
  },
  async mounted() {
    try {
      const response = await axios.get(
        "https://still-scrubland-97284.herokuapp.com/api/products/" +
          this.$route.params.id
      );
      this.product = response.data.data.attributes;
    } catch (error) {
      this.error = error;
    }
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
};
</script>

<style></style>
