<template>
  <input
    :id="id"
    v-model="inputValue"
    :class="inputclass"
    :name="name"
    :placeholder="placeholder"
    :type="type"
  >
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    inputclass: {
      type: String,
      required: true,
    },
    modelValue: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
  },
  emits: ['update:modelValue'],
  computed: {
    inputValue: {
      get() {
        return this.modelValue;
      },
      set(value) {
        this.$emit("update:modelValue", value);
      },
    },
  }
};
</script>

<style></style>
