<template>
  <div
    :class="newClass" 
    class="base-card" 
  >
    <slot />
  </div>
</template>

<script>
export default {
    props:{ newClass: {
      type: String, 
      required: true
    }} 
}
</script>

<style>

</style>