<template>
  <h2 
    :data-text="text" 
    class="base-h2" 
    :class="theme"
  >
    {{ heading2 }}
  </h2>
</template>

<script>
export default {
  props: {
    heading2: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    theme: {
      type: String,
      required: true,
    },
  },
};
</script>

<style></style>
