<template>
  <img
    :class="imgClass"
    :src="require(`@/assets/img/${imgSrc}.webp`)"
    :alt="altTxt"
  >
  <slot />
</template>

<script>
export default {
  props: {
    imgSrc: {
      type: String,
      required: true,
    },
    altTxt: {
      type: String,
      required: true,
    },
    imgClass: {
      type: String,
      required: true,
    },
  },
};
</script>

<style>
</style>

