<template>
  <h1>{{ title }}</h1>
<div v-if="showModal">
    <Modal :header="header" :text="text" theme='sale' @close="toggleModal"/>
</div>
<button @click="toggleModal">Click me</button>
</template>

<script>

import Modal from './components/Modal.vue'

export default {
  name: 'App',
  components: {Modal},
  data(){
    return{
      title: 'My First Vue App :D',
      header: 'Awesome awesome vue',
      text: 'I like this, it seems good enough',
      showModal: false
    }
  },
  methods:{
    toggleModal(){
      this.showModal =!this.showModal
    }
  }
 
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1{
  color: rgb(161, 39, 155);
}
</style>
