<template>
  <div class="block" v-if="showBlock" @click="stopTimer">
    <h1>Click me</h1>
    </div>
</template>

<script>
export default {
props: ['delay'],
data(){
  return{
    showBlock: false, 
    timer: null,
    reactionTime: 0
  }
},
mounted(){
  console.log('the component is mounted')
setTimeout(() => {
  this.showBlock = true
  this.startTimer()
  console.log(this.delay)
}, this.delay)
},
updated(){
console.log('uh and update to the dom')
},
unmounted(){
  console.log('unmounted')
},
methods:{
  startTimer(){
    this.timer = setInterval(() => {
     this.reactionTime += 10 
    }, 10)

  },
  stopTimer(){
   clearInterval(this.timer)
   console.log(this.reactionTime)
   this.$emit('end', this.reactionTime)
  }
}
}
</script>

<style>
.block{
    width: 400px;
    border-radius: 20px;
    background: rgb(250, 166, 173);
    color: white;
    text-align: center;
    padding: 100px 0;
    margin: 40px auto;
}
</style>