@import "_variables.scss";

body{
    max-width: 1024px; 
    margin: 0 auto;
    box-sizing: border-box;
    font-family: $primary-font;
    background-color: $primary-color;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}