@import "_variables.scss";

/* block */
.btn {
  border: none;
  margin-right: 10px;

  /* btn modifier */
  .btn__secondary {
    padding: 10px 10px;
    background-color: $primary-btn;
    color: white;
  }
  .btn__primary {
    padding: 10px 10px;
    background-color: $secondary-btn;
    font-weight: 700;
  }
}
