// color variables
$primary-color: #ffffff;
$secondary-color: rgba(243, 208, 8, 0.993);
$tertiary-color: #000;

//buttons
$primary-btn: #000;
$secondary-btn: rgba(243, 208, 8, 0.993);

// fonts variables
$primary-font: Helvetica, sans-serif;
$secondary-font: Arial, sans-serif;

// spacing variables
$spacing-sm: 15px;
$spacing-lg: 100px;

// mixins
@mixin MarginMiddle() {
    margin-right: auto;
    margin-left: auto;
}
@mixin Padding() {
    $top: null;
    $right: null;
    $bottom: null;
    $left: null;
    $padAll: null;
}

// Nesting
// Partials
// If / else conditionals
// extending styles